@import '../constants.scss';

.Main {
  display: flex;
  flex-direction: column;

  background-color: white;
  border-radius: 18px;
  min-width: 50%;
  min-height: 200px;
  padding: 10px 20px;

  &-Button{
    background-color:$color-gray;
    padding: 10px 15px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    font-weight: bold;
  }
}
