body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text{
    display: block;
    border: 2px solid #72E4CD;
    text-align: center;
    padding: 2rem;
    font-size: 25px;
    margin-right: 1rem;
}

#btn{
    cursor: pointer;
    border: 2px solid #72E4CD;
    padding:  1rem 2rem;
} 

#btn:-webkit-any-link{
    color: #000;
    text-decoration:none;
}
